

#insta {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  border: 2px solid gray;
  border-radius: 8px;
  background-color: rgb(255, 136, 0);
  color: white;
  font-size: 20px;
  
}
#insta:hover{
    background-color: rgb(255, 8, 0);
    transform: scale(1.1);
    tra;
    transition-duration: 1s;
    transition-timing-function: linear;

}
