/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.brand-title {
    font-size: 1.5rem;
    color: white;
    margin-left: 10px;
}

.navbar-links {
    display: flex;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-links li {
    margin: 0 10px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-links a:hover {
    color: #ddd;
}

.toggle-button {
    display: none;
    font-size: 1.5rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

#title{
    color: white;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
        margin: 10px 0;
    }
    .toggle-button {
        display: block;
    }
}
a:active{
    background-color: darkred;
    color: white;
}